:root{
    /* --primaryColor:#3b82f6 ; */
    --primaryColor:rgb(82, 54, 167);
    --navbar-width:12rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f7f7f7;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media print {
    body{
        background-color: #fff;
    }
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    user-select: none;
    /* background-color: var(--primaryColor); */
    background: linear-gradient(180deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
    background: linear-gradient(360deg, #5691c8, #457fca);
    background: #161a23;
    background: linear-gradient(to top, crimson, tomato);
    
    
    
    width:var(--navbar-width);
    height: 100dvh;
    anchor-name: --nav-anchor;
    left: 0;
    position: fixed;
    padding-top: 0.4rem;
    transition: all ease-in-out 0.4s;
    z-index: 9999;
}
.hide{
    opacity: 0;
    transform: translateX(-100%);
}
nav div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    list-style-type: none;
} 

nav div a,nav div span{
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    color: royalblue;
    color: #f7f7f7 !important;
    padding: 0.4rem 1rem;
    transition: all ease-in-out 0.4s;
    font-weight:500;
    text-wrap: nowrap;
    /* border-radius:8px ; */
}

nav  div a:hover,span:hover{
    /* color:#1ca975; */
    color: #222 !important;
    /* background-color:#1ca97530; */
}
nav div a.active{
    color: #111 !important;
    /* background-color: #ffffff46; */
    border-right: 5px solid #ff5100;
}

nav div span{
    cursor: pointer;
    color: royalblue;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0;
}
nav div span .icon{
    margin-left: 1.2rem;
    margin-left: auto;
}
.dropdown .dropdown-option a{
    padding-left: 2rem;
    color: #f5f5f5 !important;
}
.option-icon{
    font-size: 1.3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}
.logout-btn{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    position-anchor: --nav-anchor;
    margin: 0 auto ;
    margin-left: auto;
    width: 80%;
    color: #fff;
    background-color: red;
    border: none;
    font-weight: 500;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    
    transition: all ease-in-out 0.2s;
}
.logout-btn:hover{
    background-color: crimson;
    gap: 0.7rem;
}
.logout-btn > .icon{
    font-size: 1.2rem;
}

/* Top Bar */
.top-bar{
    background-color: #f7f7f7;
    color: gray;
    padding:0.7rem  .2rem;
    position: sticky;
    top: 0;
    z-index: 90;
}
@media (max-width:800px) {
    .top-bar span{
        display: none;
    }
    
}
.top-bar span {
    margin:  1rem;
    text-transform: uppercase;
    user-select: none;
    color: red;
    animation: blink infinite linear 2s;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{opacity: 0;}
}

.top-bar p{
    font-weight: 500;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
.top-bar button{
    position: fixed;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    top: 3px;
    left: 7px;
}
main{
    width: 100%;
    min-height: max-content;
    margin-left: var(--navbar-width);
    width: calc(100dvw - var(--navbar-width));
    /* background-color: #f0f8ff; */
    
    transition: all ease-in-out 0.4s;
    position: relative;
    padding-bottom: 1rem;
    
}
.main{
    margin-left: 0;
}
.hide + main{
margin-left:0 ;
width: 100dvw;    
}
@media print {
    .top-bar,nav,form,button{
        display: none !important;
    }
    main{
      margin-left: 0;  
      width: 100%;
    }
    tr,td,th{
        border-color: #000;
    }

}
.page{
    min-height: 92dvh;
}
table{
    border-collapse: collapse;
}
table > thead > tr > th{
    text-transform: uppercase;
}
@media print {
    table > thead > tr > th{
        border: 1px solid #111 !important;
    }
}
table > tbody {
    text-transform: capitalize;

}
input[type=date]{
    text-transform: uppercase;
}
input:focus, select:focus{
    outline: none;
    border-color: royalblue;
}
.chart{
    width: 50%;
    display: inline-block;
}
/* Loader css */
/* From Uiverse.io by JaydipPrajapati1910 */ 
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: blueviolet;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@media (max-width:850px) {
    main{
        margin-left: 0;
        width: 100%;
    }
    .top-bar,nav{
        display: none;
    }
}